#player-soundcloud{
  position: fixed;
  bottom: 150px;
  right: 0;
  height: 50px;
  z-index: 10;
}
.img-rounded{
  overflow: hidden;
  width: 200PX;
  height: 200px;
  justify-content: center;
  display: flex;

  img{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
  }
}
