/*!
 * Start Bootstrap - Coming Soon v5.0.7 (https://startbootstrap.com/template-overviews/coming-soon)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-coming-soon/blob/master/LICENSE)
 */
html {
  height: 100%
}

body#other-onepage {
  height: 100%;
  min-height: 35rem;
  position: relative;
  font-family: 'Source Sans Pro';
  font-weight: 300 h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $headings-font-family;
    font-weight: 700
  }

  video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    z-index: 0
  }

  @media (pointer: coarse) and (hover: none) {
    body {
      background: url(../img/lra_bg.jpg) $redwine no-repeat center center scroll;
      background-size: cover;

    }
    body video {
      display: none
    }
  }

  #comingSoon {
    iframe {
      height: 99.4vh !important;
    }

    .masthead {
      overflow: hidden;
      padding-bottom: 3rem;
      z-index: 2;
      position: absolute;
      top: 0;
      width: 100%;

      .masthead-bg {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        min-height: 35rem;
        height: 100%;
        background-color: rgba(89, 2, 2, 0.8);
        transform: skewY(4deg);
        transform-origin: bottom right
      }

      .masthead-content {
        h1 {
          font-size: 2.5rem
        }

        p {
          font-size: 1.2rem;

          strong {
            font-weight: 700
          }
        }

        .input-group-newsletter {
          input {
            height: auto;
            font-size: 1rem;
            padding: 1rem
          }

          button {
            font-size: .8rem;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1px;
            padding: 1rem
          }
        }
      }

    }

    .copyright {
      color: $redwine;
    }

    @media (min-width: 768px) {
      .masthead {
        height: 100%;
        min-height: 0;
        width: 40.5rem;
        padding-bottom: 0;

        .masthead-bg {
          min-height: 0;
          transform: skewX(-8deg);
          transform-origin: top right
        }

        .masthead-content {
          padding-left: 3rem;
          padding-right: 10rem;

          h1 {
            font-size: 3.5rem;
          }

          p {
            font-size: 1.3rem
          }
        }
      }
    }

    .social-icons {
      position: absolute;
      margin-bottom: 2rem;
      width: 100%;
      z-index: 2;

      ul {
        margin-top: 2rem;
        width: 100%;
        text-align: center;

        & > li {
          margin-left: 1rem;
          margin-right: 1rem;
          display: inline-block;

          & > a {
            display: block;
            color: #fff;
            background-color: rgba(89, 2, 2, 0.8);
            border-radius: 100%;
            font-size: 2rem;
            line-height: 4rem;
            height: 4rem;
            width: 4rem
          }

        }
      }
    }

    @media (min-width: 768px) {
      .social-icons {
        margin: 0;
        position: absolute;
        right: 2.5rem;
        bottom: 2rem;
        width: auto;

        ul {
          margin-top: 0;
          width: auto;

          & > li {
            display: block;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 2rem;

            &:last-child {
              margin-bottom: 0
            }

            & > a {
              transition: all .2s ease-in-out;
              font-size: 2rem;
              line-height: 4rem;
              height: 4rem;
              width: 4rem;

              &:hover {
                background-color: $redwine
              }
            }
          }
        }
      }
    }
  }
}