// Styling for the gallery section

#gallery {
  .container-fluid {
    max-width: 1920px;

    .gallery-box {
      position: relative;
      display: block;
      height: 230px;
      overflow: hidden;

      .gallery-box-caption {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        width: 100%;
        height: 100%;

        position: absolute;
        bottom: 0;

        text-align: center;
        opacity: 0;

        color: $white;
        background: fade-out($primary, .1);
        transition: opacity 0.25s ease;
        text-align: center;

        .event-category {
          font-family: $font-family-sans-serif;
          font-size: 0.85rem;
          font-weight: 600;
          text-transform: uppercase;
        }

        .event-name {
          font-size: 1.2rem;
        }
      }

      &:hover {
        .gallery-box-caption {
          opacity: 1;
        }
      }
    }
  }
}

#album {
  .carousel-item {
    align-items: center;

    div {
      height: 370px;
      overflow: hidden;
    }
  }
}

#carouselPhotosHeadCtrl {
  position: absolute;
  top: 0;
  max-height: 100%;
  overflow: hidden;
}

#gallery,
#album {
  .event-text,
  .album-text {
    padding: 5rem;
  }
}

#events-futur {
  a {
    @extend .badge-pill;
    color: $primary !important;

    &:hover {
      background-color: $clementine;
      border-color: $clementine;
      color: $white !important;
    }
  }
}

/**
VIDEOS
 */
#videos {

}

#carouselVideoControls {
  figure {
    position: relative;
  }

  .carousel-inner {
    //width: 1600%;
    //transition-duration: 0s;
    //transform: translate3d(-900px, 0px, 0px);


  }

  .carousel-item {
    position: relative;
    //width: 900px;
    //margin-right: 0;
    //float: left;
    //display: block;
    iframe {
      height: 500px;
      width: 880PX;

    }
  }
}