// Global styling for this template
body,
html {
  width: 100%;
  height: 100%;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

// Typography
.text-white-75 {
  color: fade-out($white, .25);
}

// Custom horizontal rules
hr.divider {
  max-width: 3.25rem;
  border-width: 0.2rem;
  border-color: $primary;
}

hr.light {
  border-color: $white;
}


// Button restyling
.btn {
  font-family: $font-family-sans-serif;
}

.btn-xl {
  padding: 1.25rem 2.25rem;
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 10rem;
}

// Page section padding
.page-section {
  padding: 8rem 0;
}

.infos-legal {
  li {
    &::after {
      color: $primary;
      content: "|";
      padding: 1rem;
    }

    &:last-of-type {
      &::after {
        content: none;
        padding: 0;
      }
    }
  }
}

.jumbotron,
.jumbotron-fluid {
  overflow: hidden;
  position: relative;
  min-height: 350px;
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $primary;
    opacity: .4;
    z-index: 1
  }

  .frame-embed {
    position: absolute;
  }
}