@import "comingsoon";
@import "gallery";
@import "apropos";

#logo-img {
  filter: invert(1);
  min-width: 50%;
  max-width: 30rem;

}

#go-top {
  text-decoration: none;
  position: fixed;
  bottom: 10px;
  left: 30px;
  z-index: 10;
  border-color: $clementine;
  background: $white;
  color: $clementine;
  transition: background-color 0.5s ease;

  &:hover {
    background-color: $clementine;
    color: $white !important;
  }

}

.scroll-arrow {
  font-size: 35px;
  color: white;
  width: 50px;
  line-height: 52px;
  height: 50px;
  border: 1px solid white;
  //display: block;
  margin: 0 auto;
  bottom: 40px;
  left: 50%;
  //-webkit-transform: translateX(-50%);
  //-moz-transform: translateX(-50%);
  //-ms-transform: translateX(-50%);
  //-o-transform: translateX(-50%);
  //transform: translateX(-50%);
  opacity: .9;
}

.separator-container {
  text-align: center;
  position: relative;
}

@media (min-width: 768px) {
  .separator {
    width: 20em;
  }
}

.separator {
  color: $primary;
  margin: 0.2em auto;
}

.line-separator::before {
  float: left;
}

.line-separator::before,
.line-separator::after {
  width: 40%;
  content: " ";
  margin-top: 14px;
  border-top: 1px solid $primary;
}

#events-futur {
  .event {
    //background: red;
    > div {
      height: 100%;
    }
  }

}

.page-info {
  .jumbotron {
    //height: 150px;
    min-height: 150px !important;
  }
}