// Styling for the masthead
header.masthead {
  //height: 100%;
  padding-top: 10rem;
  padding-bottom: calc(10rem - #{$navbar-height});
  // replace the masthead.jpg image in the /img directory to change the image
  // if the image name change, make sure to update the url path below!
  //background: linear-gradient(to bottom, #{fade-out($brown, .5)} 0%,#{fade-out($brown, .5)} 100%), url('../img/racineacoustick/lra45.jpg');
  background: linear-gradient(to bottom, #{fade-out($brown, .5)} 0%,#{fade-out($brown, .5)} 100%), url('../img/lra_bg.jpg');

  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  h1 {
    font-size: 2.25rem;
  }
  @include media-breakpoint-up(lg) {
    //height: 100vh;
    //min-height: 40rem;
    position: relative;
    height: 100%;
    padding-top: $navbar-height;
    padding-bottom: 0;
    min-height: 720px;
    p {
      font-size: 1.15rem;
    }
    h1 {
      font-size: 3rem;
    }
  }
  @include media-breakpoint-up(xl) {
    h1 {
      font-size: 3.5rem;
    }
  }

  figure {
    > div {
      background: rgba(255, 255, 255, 0.5);
      padding: 10px;
    }
  }
}

#home {
    h1{

  }
}
