// Variables

// Color overrides

// Set a custom color²
//$orange: #f4623a !default;
$brown: #5c4d42 !default;
$frisia: #F20519;
$yellowgreen: #E9F2C9;
$orange:#F2A007 !default;
$clementine: #f27507;
$redwine:#590202;

  // Set primary color to orange
$primary: $orange !default;



// Font overrides
$font-family-sans-serif: "Kalam", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Color Emoji' !default;

$font-family-serif: "Kalam Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Color Emoji' !default;

$font-family-base: $font-family-serif !default;

$headings-font-family: $font-family-sans-serif !default;

// Custom variables
$navbar-height: 72px;
